.book-form {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: 'Times New Roman', Times, serif;
}

.book-form h2 {
    text-align: center;
    color: crimson;
    text-decoration: underline;
    text-decoration-color:gray ;
    margin-bottom: 20px;
    
}

.book-form .form-group {
    margin-bottom: 15px;
}

.book-form label {
    margin-bottom: 5px;
    color:black;
}

.book-form input[type="text"]
 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.book-form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: crimson;
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}

.book-form button:hover {
    background-color: darkred;
}